# Игнорировать __pycache__ директории
__pycache__/

# Игнорировать виртуальные окружения Python
venv/
env/

# Игнорировать Excel файлы
*.xls
*.xlsm
*.xlsx

# База данных
*.sqlite3

# idea
.idea/

# git
.git/
